*{
    margin: 0;
    padding: 0;
}

body{
    background-color : #000012;
    font-family: 'Blinker', sans-serif;
}

header{
    text-align: center;
}

.Titulo{
    border-style:inset;
    border-color:rgb(45, 186, 221);
    color: rgb(252, 218, 25);
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
}

.AC80-imagen{
    border-radius: 50px;
    border-style:inset;
    border-color:rgb(226, 220, 42);
    width: 600px;
}

.imagen-div{
    text-align: center;
}

.Text-Main{
    color: rgb(233, 233, 233);
}

.contenedor{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.3);
    margin-top: 25px;
}