*{
    margin: 0;
    padding: 0;
}

body{
    background-color : #00001d;
}

header{
    text-align: center;
}

.Titulo{
    border-style:inset;
    border-color:rgba(134, 249, 247, 0.913);
    color: rgb(252, 218, 25);
    font-family:Georgia, Times, 'Times New Roman', serif;
    display:inline-block;
    padding: 13px; 
}

.AC80-imagen{
    border-radius: 50px;
    border-style:inset;
    border-color:rgba(159, 217, 246, 0.913);
    width: 600px;
    margin: 18px;
}

.texto-Principal{
    text-align: center;
}

.imagen-div{
    text-align: center;
}

.Text-Main{
    color: rgb(255, 255, 250)
}
p{
    display:inline;
}